{% extends 'base.html' %} {% block content %}
<div class="container base-content about-page">
    <div class="row">
        <div class="col text-center">
            <br/><br/><br/><br/><br/>
            <p>This is a simple game written in Python 3 using HTML, CSS, Javascript and the Flask Framework to bring it all together.
                The point of this game is to educate children, left alone to learn and without any teacher guidance during this COVID-19 isolation period
                so that they can keep up with spelling and writing.</p>
            <hr>
            <p>Built by Mihir, Dhir, Veer and Generic</p>
        </div>
    </div>
</div>
{% endblock %}
