{% extends 'base.html' %} {% block content %}
<div class="container base-content welcome-page">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to our Hackmann Project, {{ username.title() }}</h1>
            <hr>
            <p>This is a game meant to help you improve your writing skills. The rules are as follows:</p>
            <ul>
                <li>There are 10 questions to answer.</li>
                <li>You will be prompted a word.</li>
                <li>You have to write that word on a piece of paper.</li>
                <li>Then you must show that paper to your webcam.</li>
                <li>If you get it right, you earn a point.</li>
                <li>If you get it wrong, you don't earn a point.</li>
                <li>How far can you get?</li>
            </ul>
            <br>
            <form method="POST">
                <p>Press the button below the start a new game.</p>
                <button class="btn btn-dark hvr-round-corners">PLAY</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
